<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{stock.secname}}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    {% include 'includes/navbar_top.html' %}
    <h2>{{stock}}</h2>
    <form action="{% url 'stock_update' stock.secid %}" method="POST">
        {% csrf_token %}
        <button class="btn2">Обновить данные</button>
    </form>
<main>
<table class="table">
    <tr>
        <td><b>Столбец</b></td>
        <td><b>Название</b></td>
    </tr>
    <tbody hx-get="{% url 'stock_detail' stock.secid %}"
           hx-trigger="every 60s"
           hx-target="closest tbody">
    {% for key, value in values_list %}
    <tr>
        <td><b>{{key|title}}</b></td>
        <td><b>{{value}}</b></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<article>
    <h2>Добавить позицию {{stock.secid}}:</h2>
    <form action="{% url 'deal_add' stock.secid %}" method="POST" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form}}
        </div>
        <button type="submit" class="btn">Добавить</button>
    </form>
</article>
</main>
<script src="{% static 'js/htmx.min.js' %}" defer></script>
</body>
</html>