<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Акции мосбиржи</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
{% include 'includes/navbar_top.html' %}
<br><br>
    <h3 style="text-align: center;">{{msc_time}} (Москва)</h3>
     <a href="#top" id="back-to-top" class="back-to-top" title="Back to top">▲</a>
<table>
    <tr>
    <td><form action="{% url 'stocks_search' %}" method="GET">
        {{form.input.label_tag}}
        {{form.input}}
        <button type="submit" class="btn3">Поиск</button>
    </form></td>
    <td><form action="{% url 'stocks_main' %}">
        <button type="submit" class="btn3">Сброс</button>
    </form></td>
    </tr>
</table>
<p>Всего акций: {{stocks_count}}</p>
<table class="table">
    <tr>
    <td><b>№</b></td>
    {% for item in stocks_fields %}
    <td><b>{{item|capfirst}}
    <a href=""
       hx-get="{% url 'stock_list_sort' item 'descend' %}"
       hx-target="#stock-list"
       hx-swap="innerHTML">
        ⇓
    </a>
    <a href=""
       hx-get="{% url 'stock_list_sort' item 'ascend' %}"
       hx-target="#stock-list"
       hx-swap="innerHTML">
        ⇑
    </a>
    </b></td>
    {% endfor %}
    </tr>
    <tbody id="stock-list">
        {% include "stocks/partial_stock_list.html" %}
    </tbody>
</table>
<script src="{% static 'js/htmx.min.js' %}" defer></script>
</body>
</html>