<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Акции мосбиржи</title>
    <link rel="stylesheet" href="{% static 'stocks/css/stocks_main.css' %}">
</head>
<body>
{% include 'includes/navbar_top.html' %}
<br>
     <a href="#top" id="back-to-top" class="back-to-top" title="Back to top">▲</a>
<br>
<form action="{% url 'stocks_update' %}" method="POST">
    {% csrf_token %}
    <button class="btn-new">Обновить данные</button>
</form>

<form action="{% url 'stocks_search' %}" method="GET">
    {{form.field.label_tag}}
    {{form.field}}
    {{form.input.label_tag}}<br>
    {{form.input}}
    <button type="submit">Поиск</button>
</form>

<form action="{% url 'stocks_main' %}">
    <button type="submit">Сброс</button>
</form>
<p>Всего акций: {{stocks_count}}</p>

    <table class="table">
        <tr>
            <td><b>№</b></td>
            {% for item in stocks_fields %}
            <td><b>{{item|capfirst}}</b></td>
            {% endfor %}
        </tr>
        {% for stock in stocks %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><b><a href = "{{stock.get_url}}">{{stock.secid}}</a></b></td>
            <td><b>{{stock.shortname}}</b></td>
            <td><b>{{stock.secname}}</b></td>
            <td><b>{{stock.issuesize}}</b></td>
            <td><b>{{stock.lotsize}}</b></td>
            <td><b>{{stock.marketdata.last}}</b></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>