{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{stock.secname}}</title>
    <link rel="stylesheet" href="{% static 'stocks/css/stock_detail.css' %}">
</head>
<body>
{% include 'includes/navbar_pydd_study.html' %}
<h2>{{stock}}</h2>
<main>
<table class="table">
    <tr>
        <td><b>Столбец</b></td>
        <td><b>Название</b></td>
    </tr>
    {% for key, value in values_list %}
    <tr>
        <td>{{key|title}}</td>
        <td>{{value}}</td>
    {% endfor %}
    {% for key, value in values_marketdata_list %}
    <tr>
        <td>{{key|title}}</td>
        <td>{{value}}</td>
    {% endfor %}
    </tr>
</table>
<article>
    <h2>Форма для изменения:</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form.label_tag}}
            {{form.errors}}
            {{form}}
        </div>

        <button type="submit">Сохранить</button>
    </form>
</article>
</main>
</body>
</html>