<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{stock.secname}}</title>
    <link rel="stylesheet" href="{% static 'stocks/css/stock_detail.css' %}">

</head>
<body>
    {% include 'includes/navbar_top.html' %}
    <h2>{{stock}}</h2>
    <form action="{% url 'stock_update' stock.secid %}" method="POST">
        {% csrf_token %}
        <button class="update">Обновить данные</button>
    </form>
<main>
<table class="table">
    <tr>
        <td><b>Столбец</b></td>
        <td><b>Название</b></td>
    </tr>
    {% for key, value in values_list %}
    <tr>
        <td>{{key|title}}</td>
        <td>{{value}}</td>
    {% endfor %}
    </tr>
</table>
<article>
    <h2>Форма для изменения:</h2>
    <form action="" method="POST" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form}}
        </div>

        <button type="submit" class="subm">Сохранить</button>
    </form>
</article>
</main>
</body>
</html>