URL_STOCKS = URL_STOCKS
URL_STOCK = URL_STOCK
SECRET_KEY = YOUR_SECRET_KEY
DEBUG = False
DJANGO_ALLOWED_HOSTS = '127.0.0.1'
CSRF_TRUSTED_ORIGINS = 'http://127.0.0.1'
CACHES_BACKEND = 'django.core.cache.backends.memcached.PyMemcacheCache'
CACHES_LOCATION = 'memcached:11211'
INTERNAL_IPS = '127.0.0.1'

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=YOUR_SQL_DATABASE
SQL_USER=YOUR_SQL_USER
SQL_PASSWORD=YOUR_SQL_PASSWORD
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres


