<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>{{user.email}}</title>
</head>
<body id="body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-get="{% url 'cabinet' %}"
                hx-trigger="every 60s"
                hx-target="#body"
                hx-swap="innerHTML">
    {% include 'includes/navbar_top.html' %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn2" type="submit">Выйти</button>
    </form>
    <br><br>
    <h3 style="text-align: center;">{{msc_time}} (Москва)</h3>
    <br>
    {% if new_notification %}
        <h3>У вас есть непрочитанные уведомления !</h3>
    {% endif %}
    <h3>Чтобы добавить позицию, перейдите в тикер акции на <a href="/">главной</a> странице</h3>
    <table class="table">
        <tr>
            <td style="width: 4%";><b>№</b></td>
            <td style="width: 6%"><b>Тикер</b></td>
            <td><b>Дата сделки</b></td>
            <td style="width: 15%;"><b>Название</b></td>
            <td style="width: 6%"><b>Кол-во акций</b></td>
            <td><b>Цена / Сумма покупки</b></td>
            <td><b>Цена / Сумма текущая</b></td>
            <td><b>Прибыль</b></td>
            <td style="width: 4%"><b>X</b></td>
        </tr>
        {% for deal in deals %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><b><a href = "{% url 'deal_detail' deal.id %}">{{deal.stock.secid}}</a></b></td>
            <td><b>{{deal.date|date:"d.m.y"}}</b></td>
            {% if deal.use_custom %}
                <td><b>{{deal.custom_name}}</b></td>
            {% else %}
                <td><b>{{deal.stock.shortname}}</b></td>
            {% endif %}
            <td><b>{{deal.quantity}}</b></td>
            <td><b>{{deal.buy_price|floatformat:2}} / {{deal.cost|floatformat:2}}</b></td>
            <td><b>{{deal.stock.last|floatformat:2}} / {{deal.value|floatformat:2}}</b></td>
            {% if deal.profit > 0 %}
                <td style="background-color: #4eb45a"><b>{{deal.profit|floatformat:2}}</b></td>
            {% elif deal.profit < 0 %}
                <td style="background-color: #ff6b6b"><b>{{deal.profit|floatformat:2}}</b></td>
            {% else %}
                <td><b>{{deal.profit|floatformat:2}}</b></td>
            {% endif %}
            <td><b><button
                    hx-delete="{% url 'deal_delete' deal.id %}"
                    hx-target="closest tr"
                    hx-swap="outerHTML"
                    hx-confirm="Удалить позицию?">
                X</button></b></td>
        </tr>
        {% endfor %}
    </table>

    <ul>
        <li><p>Всего потрачено: {{agg.cost__sum|floatformat:2}}</p></li>
        <li><p>Стоимость всех акций: {{agg.value__sum|floatformat:2}}</p></li>
        <li><p>Прибыль: {{agg.profit__sum|floatformat:2}}</p></li>
    </ul>
<script src="{% static 'js/htmx.min.js' %}" defer></script>
</body>
</html>