<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{deal.stock.secid}}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    {% include 'includes/navbar_top.html' %}
    <br><br>
    <h2>{{deal.stock.secname}}</h2>
    <form action="{% url 'stock_update' deal.stock.secid %}" method="POST">
        {% csrf_token %}
        <button class="btn2">Обновить данные</button>
    </form>
<main>
<table class="table">
    {% for key, value in values_list %}
    <tr>
        <td>{{key|title}}</td>
        <td>{{value}}</td>
    {% endfor %}
    {% for key, value in values_stock_list %}
    <tr>
        <td>{{key|title}}</td>
        {% if key == 'last' %}
        <td style="background-color: #4eb45a;"><b>{{value}}</b></td>
        {% else %}
        <td><b>{{value}}</b></td>
        {% endif %}
    {% endfor %}
    </tr>
</table>
<article>
    <h2>Редактировать:</h2>
    <form action="" method="POST" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form}}
        </div>

        <button type="submit" class="btn">Сохранить</button>
    </form>
    <h2>Для оповещения:</h2>
    <form action="" method="POST" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form_set}}
        </div>

        <button type="submit" class="btn">Сохранить</button>
    </form>
    <h2>Добавить акции:</h2>
    <form action="{% url 'stocks_add' deal.id %}" method="POST" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form_add.quantity.label_tag}}
            {{form_add.quantity}}
            {{form_add.buy_price.label_tag}}
            {{form_add.buy_price}}
        </div>

        <button type="submit" class="btn">Добавить</button>
    </form>
</article>
</main>
</body>
</html>