body {
letter-spacing: 0.7px;
background-image: url("/static/img/background.png");
background-size: no-repeat;
background-position: center;
background-size: cover;
}

nav a {
color: gold;
font-size: 5.5rem;
margin: 10px;
}

nav a:hover, ul a:active {
color: #eca8b5;
}