<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>Личный кабинет {{user.username}}</title>
</head>
<body>
    {% include 'includes/navbar_top.html' %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn2" type="submit">Выйти</button>
    </form>
    <br><br>

    {% if new_notification %}
        <h3 style="color: red">У вас есть непрочитанные уведомления !</h3>
    {% endif %}
    <h3>Чтобы добавить позицию, перейдите в тикер акции на <a href="/">главной</a> странице</h3>
    <table class="table">
        <tr>
            <td><b>№</b></td>
            {% for item in deals_fields %}
                {% if item == 'полное название' %}
                    <td style="width: 20%;"><b>{{item|capfirst}}</b></td>
                {% else %}
                    <td><b>{{item|capfirst}}</b></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% for deal in deals %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><b><a href = "{% url 'deal_detail' deal.id %}">{{deal.stock.secid}}</a></b></td>
            <td><b>{{deal.date|date:"d.m.Y"}}</b></td>
            {% if deal.use_custom %}
                <td><b>{{deal.custom_secname}}</b></td>
            {% else %}
                <td><b>{{deal.stock.secname}}</b></td>
            {% endif %}
            <td><b>{{deal.quantity}}</b></td>
            <td><b>{{deal.buy_price|floatformat:2}}</b></td>
            <td><b>{{deal.cost|floatformat:2}}</b></td>
            <td><b>{{deal.stock.last|floatformat:2}}</b></td>
            <td><b>{{deal.value|floatformat:2}}</b></td>
            {% if deal.profit > 0 %}
            <td style="background-color: #4eb45a"><b>{{deal.profit|floatformat:2}}</b></td>
            {% else %}
            <td style="background-color: #ff6b6b"><b>{{deal.profit|floatformat:2}}</b></td>
            {% endif %}
            <td><b><a href="{% url 'deal_delete' deal.id %}">X</a></b></td>
        </tr>
        {% endfor %}
    </table>

    <ul>
        <li><h3>Всего потрачено: {{agg.cost__sum|floatformat:2}}</h3></li>
        <li><h3>Стоимость всех акций: {{agg.value__sum|floatformat:2}}</h3></li>
        <li><h3>Прибыль: {{agg.profit__sum|floatformat:2}}</h3></li>
    </ul>
</body>
</html>