<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'users/css/cabinet.css' %}">
    <meta charset="UTF-8">
    <title>Личный кабинет {{user.username}}</title>
</head>
<body>
    {% include 'includes/navbar_top.html' %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="exit" type="submit">Выйти</button>
    </form>

    <h2>{{user.username|capfirst}} добавьте позицию: </h2>
    <form class="add" action="{% url 'deal_add' %}" method="post" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form}}
        </div>

        <button class="btn" type="submit" class="subm">Добавить</button>
    </form>
    <br><br>
    <table class="table">
        <tr>
            <td><b>№</b></td>
            {% for item in deals_fields %}
            <td><b>{{item|capfirst}}</b></td>
            {% endfor %}
        </tr>
        {% for deal in deals %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><b><a href = "{% url 'deal_detail' deal.id %}">{{deal.secid}}</a></b></td>
            <td><b>{{deal.date|date:"d.m.Y"}}</b></td>
            {% if deal.use_custom %}
                <td><b>{{deal.custom_secname}}</b></td>
            {% else %}
                <td><b>{{deal.stock.secname}}</b></td>
            {% endif %}
            <td><b>{{deal.quantity}}</b></td>
            <td><b>{{deal.buy_price|floatformat:2}}</b></td>
            <td><b>{{deal.cost|floatformat:2}}</b></td>
            <td><b>{{deal.st.last|floatformat:2}}</b></td>
            <td><b>{{deal.value|floatformat:2}}</b></td>
            {% if deal.profit > 0 %}
            <td style="background-color: green"><b>{{deal.profit|floatformat:2}}</b></td>
            {% else %}
            <td style="background-color: red"><b>{{deal.profit|floatformat:2}}</b></td>
            {% endif %}
            <td><b><a href="{% url 'deal_delete' deal.id %}">X</a></b></td>
        </tr>
        {% endfor %}
    </table>

<ul>
<li><h3>Всего потрачено: {{agg.cost__sum|floatformat:2}}</h3></li>
<li><h3>Стоимость всех акций: {{agg.value__sum|floatformat:2}}</h3></li>
<li><h3>Прибыль: {{agg.profit__sum|floatformat:2}}</h3></li>
</ul>

</body>
</html>