<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'users/css/cabinet.css' %}">
    <meta charset="UTF-8">
    <title>Личный кабинет {{user.username}}</title>
</head>
<body>
    {% include 'includes/navbar_top.html' %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="exit" type="submit">Выйти</button>
    </form>

    <h2>Добавьте сделку {{user.username}}</h2>
    <form class="add" action="{% url 'add_deal' %}" method="post" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form}}
        </div>

        <button class="btn" type="submit" class="subm">Сохранить</button>
    </form>
    <br><br>
    <table class="table">
        <tr>
            <td><b>№</b></td>
            {% for item in deals_fields %}
            <td><b>{{item|capfirst}}</b></td>
            {% endfor %}
        </tr>
        {% for deal in deals %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><b><a href = "{% url 'stock_detail' deal.secid %}">{{deal.secid}}</a></b></td>
              <td><b>{{deal.stock.secname}}</b></td>
            <td><b>{{deal.quantity}}</b></td>
            <td><b>{{deal.buy_price}}</b></td>
            <td><b>{{deal.stock.marketdata.last}}</b></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>