<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{deal.secid}}</title>
    <link rel="stylesheet" href="{% static 'stocks/css/stock_detail.css' %}">

</head>
<body>
    {% include 'includes/navbar_top.html' %}
    <h2>{{deal}}</h2>
    <form action="{% url 'stock_update' deal.secid %}" method="POST">
        {% csrf_token %}
        <button class="update">Обновить данные</button>
    </form>
<main>
<table class="table">
    <tr>
        <td><b>Столбец</b></td>
        <td><b>Название</b></td>
    </tr>
    {% for key, value in values_list %}
    <tr>
        <td>{{key|title}}</td>
        <td>{{value}}</td>
    {% endfor %}
    {% for key, value in values_securities_list %}
    <tr>
        <td>{{key|title}}</td>
        <td>{{value}}</td>
    {% endfor %}
    {% for key, value in values_marketdata_list %}
    <tr>
        <td>{{key|title}}</td>
        <td>{{value}}</td>
    {% endfor %}
    </tr>
</table>
<article>
    <h2>Форма для изменения:</h2>
    <form action="" method="POST" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form}}
        </div>

        <button type="submit" class="subm">Сохранить</button>
    </form>
    <h2>Добавить акции:</h2>
    <form action="{% url 'stocks_add' deal.id %}" method="POST" class="change">
        {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form1.quantity.label_tag}}
            {{form1.quantity}}
            {{form1.buy_price.label_tag}}<br>
            {{form1.buy_price}}
        </div>

        <button type="submit" class="subm">Добавить</button>
    </form>
</article>
</main>
</body>
</html>