<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваши оповещения</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
{% include 'includes/navbar_top.html' %}
<br><br>
<h2>Ваши оповещения:</h2>
<form action="{% url 'notifications_delete' %}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn3">Удалить все</button>
</form>
<br>
<table class="table">
  <tr>
    <td style="width: 60%;">Текст Сообщения</td>
    <td>Дата</td>
    <td>Прочитано</td>
    <td>Удалить</td>
  </tr>
  {% for notificate in notifications %}
  <tr>
    <td>{{notificate.text}}</td>
    <td>{{notificate.date|date:"d.m.Y H:i"}}</td>
    <td>{{notificate.delivered}}</td>
    <td><a href="{% url 'notification_delete' notificate.id %}">X</a></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>