<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><b><a href="{% url 'get_reports' 'stocks' 'pdf' %}">Отчет по всем акциям в pdf</a></b></li>
    <li><b><a href="{% url 'get_reports' 'deals' 'pdf' %}">Отчет по всем сделкам в pdf</a></b></li>
    <hr>
    <li><b><a href="{% url 'get_reports' 'stocks' 'csv' %}">Отчет по всем акциям в csv</a></b></li>
    <li><b><a href="{% url 'get_reports' 'deals' 'csv' %}">Отчет по всем сделкам в csv</a></b></li>
    <hr>
</ul>
</body>
</html>