{% extends 'registration/base_user.html' %}

{% block title %}
Аутентификация
{% endblock %}

{% block content %}
		<form method="post">
			{% csrf_token %}
			<h1>Аутентификация</h1>
			<div>
				<input type="text" name="username" placeholder="Электронная почта" required="" id="username" />
			</div>
			<div>
				<input type="password" name="password" placeholder="Пароль" required="" id="password" />
			</div>
			<div>
			    {{form.errors}}
				<input type="submit" value="Войти" />
				<a href="{% url 'signup' %}">Регистрация</a>
				<a href="/">Главная</a>
				<br><a href="{% url 'password_reset' %}">Забыли свой пароль ?</a>
			</div>
		</form>
{% endblock %}
